@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;
@using Factory.Models;
@using System.Collections.Generic;

<h1>Machine Details</h1>
  <hr />

  <h3>Name of Machine: @Html.DisplayFor(model => model.MachineName)</h3>
  <br />

  @if (@Model.JoinEntities.Count == 0)
  {
    <p>There are no operators for this machine</p>
  }
  else
  {
    <h4>The operators below can use the machine</h4>
    <ul>
    @foreach (MachineEngineer join in Model.JoinEntities)
      {
        @using (Html.BeginForm("DeleteJoin", "Machines"))
        {
          <li>
            @Html.ActionLink(@join.Machine.MachineName, "Details", new { id = join.Machine.MachineId })
            @Html.Hidden("MachineEngineerId", @join.MachineEngineerId)
            <input type="submit" value="X" class="btn btn-sm btn-x btn-outline-danger" />
          </li>
        }
        <li>@join.Engineer.Name</li>
      }
    </ul>  
  }

<br/>

<div class="container">
  <h5>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</h5>
  <h5>@Html.ActionLink("Remove Machine", "Delete", new { id = Model.MachineId })</h5>
  <h5>@Html.ActionLink("Add an Engineer", "AddEngineer", new { id = Model.MachineId })</h5>
  <h5>@Html.ActionLink("Back to Machines", "Index")</h5>
</div>